<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.employeeMapper">

 <sql id="baseColumn">
 EMP_NO,EMP_ID,EMP_PW,EMP_NAME,EMP_DEPT_NUMBER,EMP_EMAIL,EMP_PHONE_NUMBER,HIRE_DATE hireDate,SALARY
 </sql>

<insert id="employeeInsert" parameterType="emp">
    insert into employees(<include refid="baseColumn" />)
    values(#{empNo},#{empId},#{empPw},#{empName},#{empDeptNumber},#{empEmail},#{empPhoneNumber},#{hireDate},#{salary})
</insert>

<select id="empNo" resultType="int">
select nvl(max(emp_no),10000)+1 from employees
</select>
<select id="empAllList" resultType="emp">
    select EMP_NO empNo,EMP_ID empId,EMP_PW empPw,
           EMP_NAME empName,EMP_DEPT_NUMBER empDeptNumber,
           EMP_EMAIL empEmail,EMP_PHONE_NUMBER empPhoneNumber,
           HIRE_DATE hireDate,SALARY
    from employees
</select>
</mapper>